.store-header{
    height:'400px';
    background-image: url('../../assets/food_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    border-radius: 30px;
    box-shadow: 2px 7px 10px 1px rgba(0, 0, 0, 0.2)
}

.store-header > img {
    box-shadow: 2px 7px 10px 1px rgba(0, 0, 0, 0.2)
}

.store-logo{
    margin-top: 200px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 25px;
}

.store-body{
    padding: 30px;
}

.store-cart{
    text-align: left;
    margin-top: 50px;
}
.store-item{
    width: 350px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #E6E6E6;
    padding:20px 10px;
    border-radius: 10px;
    color: rgb(63, 63, 63);
}

.store-item>h5,p{
    padding: 0;
    margin: 0;
}
.cart-item{
    text-align: left;
    margin: 10px 10px;
    padding: 5px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 2px 7px 10px 1px rgba(0, 0, 0, 0.2)
}
.cart-item:hover{
    background-color: rgb(236, 236, 236);
    box-shadow: 2px 7px 10px 1px rgba(0, 0, 0, 0.521);
    margin: 10px 5px;
}